<div style="text-align:center">
  <h1>
    Sistem za odrzavanje zgrada!
  </h1>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active current">
          <a class="nav-link" [routerLink]="['/zgrade']">Zgrade</a>
          <a class="nav-link" [routerLink]="['/stanovi']">Stanovi</a>
          <a class="nav-link" [routerLink]="['/firme']">Firme</a>
          <a class="nav-link" [routerLink]="['/kvarovi']">Kvarovi</a>
          <a class="nav-link" [routerLink]="['/sednice']">Sednice</a>
          <a class="nav-link" [routerLink]="['/komentari']">Komentari</a>
          <a class="nav-link" [routerLink]="['/stavke']">Stavke</a>
        </li>
       </ul>
    </div>   
  </nav>
</div>
<router-outlet></router-outlet>