<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
   <h3 style="text-align:center">Zapisnici</h3>
</div>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
  <style>
  table, th, td {
    border-right: 2px solid rgb(208, 236, 197);
  }
  th, td{
    font-weight: bold;
  }
  </style>
  <body style="background-color:rgb(207, 134, 66);"></body>
  </head>
  <div class="container">
  <table class="table text-center">
    <tr>
      <th>Id</th>
      <th>Datum kreiranja</th>
      <th>Opis</th>
      <th>Kreator</th>
      <th>Zgrada</th>
      <th>Sednica</th>
      
    </tr>
    <tr *ngFor="let zapisnik of zapisnik">
      <td>{{zapisnik.id}}</td>
      <td>{{zapisnik.DatKreiranja}}</td>
      <td>{{zapisnik.opis}}</td>
      <td>{{zapisnik.kreator.korisIme}}</td>
      <td>{{zapisnik.zgrada.id}}</td>
      <td>{{zapisnik.sednica.id}}</td>      

      
      <td>
        <button type="button" class="btn btn-dangerous"  aria-label="Edit" (click)="gotoEdit(zapisnik)">
          <span class="fa fa-edit" aria-hidden="true" style="font-size:18px;color:darkgreen"></span>
        </button>
  
        <button type="button" class="btn btn-dangerous" aria-label="Delete" (click)="deleteZapisnik(zapisnik.id)">
          <i class="fa fa-remove" aria-hidden="true" style="font-size:18px;color:darkgreen"></i>
        </button>
      </td>
    </tr>
  </table>
  </div>
  <div class="right">
    <button type="button" class="btn btn-dangerous" aria-label="Add" (click)="gotoAdd()">
      <span class="fa fa-plus" aria-hidden="true" style="font-size:18px;color:darkgreen"></span>
    </button>
  </div>